# General output
shell/bin/
*.tmp

# Parser intermediate source files
shell/input_parse/lex.yy.c
shell/input_parse/y.tab.c
shell/input_parse/y.tab.h

# Language server
compile_commands.json
.cache

# IDE
Session.vim
.gdb_history

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
#*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Debug information files
*.dwo
